body {
/*    font-family:cursive;*/
    color:rgba(255, 0, 0, 0.81);
    margin: 0 auto;
    background: black;
    width:1500px;
}
#main {
    width:2000px;
    height:2700px;
    overflow:hidden;
} 
a:link {
        color: rgba(255, 0, 0, 0.81);
}
a:visited {
        color: rgba(255, 0, 0, 0.81);
}
header {
    position:relative;
    width:1300px;

}
header ul {
    float:right;
}
#title {
    margin-left:200px;
    width:600px;
    float:left;
}
#list {
    display:inline;
    float:right;
}
#list li{
    font-size:40px;
    margin-right:190px;
    list-style:none;   
    border-bottom-style: solid;
    border-color:red;
    cursor:pointer;
}
#list li:hover {
    opacity: 0.8;
}
#back-to-top {
    cursor:pointer;
}
#back-to-top:hover {
    opacity: 0.8;
}
#a{
    position:absolute;
    top:0;
    right:30px;
}
#b{
    position:absolute;
    right:-60px;
    top:40px;
}
#c{
    position:absolute;
    top:60px;
    right: 150px;

}
#top {
/*    position:relative;*/
}
.contents{
    width:1300px;
    height:2000px;
/*    margin: 0 auto;*/
}
#top img{
    width:1300px;
}
#albums {
    color:rgba(255, 0, 0, 0.81);
    border-radius:60px;
    border-width: 10px;
    border-style:solid;
    border-color:rgba(255, 0, 0, 0.81);
    background:black;
    text-align: center;
    font-size:90px;
    width:1200px;
    height:500px;
    position:absolute;
    top:600px;
    margin-left:30px;
}
#screen img {
    margin-left:40px;
    float:left;
    width: 400px;
    height: 330px;
    position:relative;
}
.thumbnail {
    cursor:pointer;
    opacity:0.4;
}
#thumbnails img{
    position:relative;
    width:120px;
    display:inline;
    margin-bottom:20px;
    margin-left:20px;
    top:30px;
}
.current {
    opacity:1.0;
}
#prev {
    position:absolute;
    top:250px;
    left: -8px;
    border-style: solid;
    border-width:40px;
    border-radius: 5px;
    border-color: transparent rgba(255, 0, 0, 0.81) transparent transparent;
    cursor:pointer;
}
#prev:hover{
    opacity: 0.8;
}
#next {
    position:absolute;
    right: -8px;
    top:250px;
    border-style: solid;
    border-width:40px;
    border-radius: 5px;
    border-color: transparent  transparent transparent rgba(255, 0, 0, 0.81);
    cursor:pointer;
}
#next:hover{
    opacity: 0.8;
}
#live {
    text-align:center;
    position:relative;
    padding:5px;
    bottom:600px;
    font-size:90px;
    border-style:solid;
    border-width: 10px;
    border-radius:60px;
    height:645px;
    width:720px;
    margin-left :100px;
}
#carouselPrev {
    position:absolute;
    top:250px;
    left: -8px;
    border-style: solid;
    border-width:40px;
    border-radius: 5px;
    border-color: transparent rgba(255, 0, 0, 0.81) transparent transparent;
    cursor:pointer;
}
#carouselPrev:hover{
    opacity: 0.8;
}
#carouselNext {
    position:absolute;
    right: -8px;
    top:250px;
    border-style: solid;
    border-width:40px;
    border-radius: 5px;
    border-color: transparent  transparent transparent rgba(255, 0, 0, 0.81);
    cursor:pointer;
}
#carouselNext:hover{
    opacity: 0.8;
}
#carousel {
    width:100%;
    height:100%;
    overflow:hidden;
}
#carouselInner ul.column{
    width:605px;
    height:105px;
    padding:15px 0 15px 15px;
    list-style-type:none;
    margin-left: 30px;
    margin-top:10px;
    float:left;
}
.column img{
    width:280px;
    height:200px;
}
#carouselInner ul.column li {
    margin-right:10px;
    list-style:none;
    display:inline;
    float:left;
}
#map {
    position:relative;
    bottom:1200px;
    font-size:40px;
    text-align: center;
    margin-left:260px;
}
#where {
    font-size:460px;
    border-width:10px;
    width:150px;
    height:500px;
    border-radius:50%;
    color:black;
    background: rgba(255, 0, 0, 0.81);
}
#where:hover {
    opacity:0.8;
}
.number {
    color:rgba(255, 0, 0, 0.37);

}
#x {
    position:absolute;
    top:200px;
    left:20px;
}
#y {
    position:absolute;
    top:300px;
    left:1050px
}
#logo_a {
    
}
#logo_a {
    position:relative;
    right:100px;
    bottom:200px;
    }
#logo_a img{
     width:700px;    
    }    

#logo_b {
    position:relative;    
    bottom:1100px;
    left:900px;
}
#logo_b img {
    width:600px;
    left:700px;
} 
#logo_c {
    position:relative;
/*    width:500px;*/
/*    left:700px;*/
    bottom:1800px;
}
#logo_c img {
    width:500px;
}
#logo_d  {
    position:relative;
/*    width:400px;*/
    left:400px;
    bottom:1800px;
} 
#logo_d img {
    width:400px;
}
#logo_e  {
    position:relative;
    width:400px;
    left:1000px;
    bottom:2500px;
}
#logo_e img {
    width:200px;
}
#logo_f  {
    position:relative;
    width:400px;
    left:1400px;
    bottom:4500px;
}
#logo_f img {
    position:relative;
    width:1000px;
}
#logo_g  {
    position:relative;
    width:400px;
    left:1750px;
    bottom:3500px;
}
#logo_g img {
/*    position:relative;*/
    width:300px;
}
#button {
        right:300px;
        top:200px;
        width: 100px;
        height:100px;
        border-radius: 50%;
        background: red;
        box-shadow: 0 6px 0 rgba(255, 0, 0, 0.72);
        cursor: pointer;
        z-index:3;
        position:fixed;
        color:white;
        text-align: center;
        font-size:50px;
        
}
#button:hover {
    opacity:0.8;
}
#button.pushed {
    top:204px;
    box-shadow: 0 4px 0 rgba(255, 0, 0, 0.72);
}
